body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.header {
    background-color:  #FFFFFF;
}
a .span {
   color: #2196F3;
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
   font-size: 26px;
}

.nav-studio {
    color: var(--black-text);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

.site-nav a {
    font-weight: 500;
    color: var(--black-text);
    size: 14px;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

.contacts a {
    font-weight: 500;
    color: var(--grey-text);
    size: 14px;
}

.contacts a:hover, 
.contacts a:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
     color: var(--accent-color);
}

.section-title {
    color:var(--black-text);
}


.knopki {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-text);
}
.button {
    font-weight: bold;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--white-text);
}

.table-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--black-text);
}

.paragraf {
    font-weight: normal;
    font-size: 16px;
    color: var(--grey-text);
}
.footer {
    background-color: var(--baground-color);
}
.footer-studio {
    font-weight: bold;
    font-size: 26px;
    color: var(--white-text);
}

.footer-street {
    font-weight: normal;
    font-size: 14px;
    color: var(--white-text);
}

.footer-mail {
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
